.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}



.featureSvg {
  height: 400px;
  width: 400px;
  margin-left: 50px;
}

.featureRow{
  align-items: stretch;
}

.featureItem{
  flex: 1 !important;
  padding: 0.5rem 0.5rem;
}
